/******************* MOBILE LAYOUT **********************/


/******************* GENERAL CSS **********************/


html {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif;*/ 
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 80%;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



button {
  border-style: none;
}

a {
  margin: 0%;
  padding: 0%;
}

.plus {
  padding-right: 3px;
  padding-bottom: 2px;
}

.add-edit-button {
  background-color: #fedb98;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 3px 5px 3px;
  border-radius: 0.3em;
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.add-edit-button:hover{
  font-weight: bold;
  cursor: pointer;
}

#user-list-section h2, .balances h2, .expense-box h2 {
  padding: 0.313em 0em 0.313em 1.88em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#cole-events h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5em;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/******************* HEADER CSS **********************/
/***Burger styling code was supported by https: //www.youtube.com/watch?v=aNDqzlAKmZc***/
.off-screen-menu {
  background-color: black;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
  color: #ccc;
}

a {
  text-decoration: none;
  list-style-type: none;
}

.off-screen-menu.active {
  right: 0;

}

.off-screen-menu.active ul {
  list-style-type: none;
  padding: 0%;
}

.burger-bar {
  height: 2em;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #588b5f;
  border-radius: 0.3em 0.3em 0em 0em;
}


.burger-bar span {
  height: 5px;
  width: 8%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  margin-left: 42%;
}

.burger-bar span:nth-child(1) {
  top: 25%;
  z-index: 1;
  margin-top: 10px;
}

.burger-bar span:nth-child(2) {
  margin-top: 10px;
}

.burger-bar span:nth-child(3) {
  top: 75%;
  z-index: 1;
  margin-top: 10px;
}

.burger-bar.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-bar.active span:nth-child(2) {
  opacity: 0;
}

.burger-bar.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-link {
  color: white;
  font-size: 0.8em;
}

.dropdown {
  height: 50%;
  width: 50%;
  color: rgb(0, 213, 255);
}

.pizza-container {
  background-color: #588b5f;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-color: black;
  border-radius:  0em 0em 0.3em 0.3em ;

}

#icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

#pizza {
  height: 100%;
  width: 72%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
 /* margin-bottom: 2%; */
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-button {
  background-color: #fedb98;
  border-color: #fedb98;
  box-shadow: none;
  /*padding: 2.5px 15px;*/
  /* padding: 3px 30px; */
  padding: 0.14em 1.3em;
  font-size: 1.7vw;
  width:30%;
}

#header-button-1 {
  margin-right: 0px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  width: 100%;

}

#header-button-2 {
  margin-left: 0px;
  margin-right: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-left-width: 0px;
  border-right-width: 0px;
  width: 100%;
}

#header-button-3 {
  margin-left: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  width: 100%;
}




/*changed to burger-bar*/

.nav{
  display: none;
}

.nav-bar {
  display: none;
}

.welcome-info {
  display: flex;
}

.welcome-info p{
  display: flex;
}

#welcome {
display: flex;
}



.search {
  background-color: white;
  width:100%;
  height: 100px;
}






/******************* EVENTS CSS **********************/

.color-block {
  background-color: #588b5f;
  color: white;
  border-radius: 0.3em;
  align-items: center;
}

.group-expenses {
  background-color: white;
  width: 100%;
}

.main-rows {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* Remove the bullet points on the list of events */
#events {
  background-color: #d9d9d9;
  width: 100%;
  margin-right: 5%;
  border-radius:0.3em 0.3em 0em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list_of_events {
  width: 100%;
}

#cole-events {
  display: flex;
  justify-content: center;
  height: 9%;
  align-items: center;
  width: 100%;
}

#events-list {
  list-style-type: none;
  padding: 0;
}


.warning-text {
  color: red;
}

/* Container for each event */
.event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  margin: 1em 0em 1em 0em;
  border: 1px solid #000000; /* Optional: adds a separator between events */
  border-radius: 0.3em;

}

/* Style for the event name */
.event-item {
  margin: 0;
  list-style: none; /* Remove default list styling */
}

.event-name:hover {
  cursor: pointer;
}


.event-name-container h2 {
  color: #294633;
}

/* Style for the delete button */
.delete-button {
  margin-left: 10px; /* Space between the event name and 'X' button */
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.delete-button:hover {
  font-weight: bold; /* Darker red on hover */
}

/* Style for the event button */
.event-button {
  margin-left: 0.3em; /* Space between the event name and 'X' button */
  border: none;
  padding: 0;
  cursor: pointer;
}

.event-button:hover {
  font-weight: bold; /* Bold on hover */
}

/* Container for the event name and the edit button */
.event-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust the width as needed */
  padding: 5px;
  width: 100%;
  /* border-bottom: 1px solid #ccc;  Optional: adds a separator between events */
  /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; Adjust width as needed */
}

#addEvent {
  background-color: #fedb98;
  border-color: #fedb98;
  border-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

/* Event name edit button styling */
.edit-event-name-button {
  /*padding: 2px 5px;*/
  cursor: pointer;
  background-color: #fedb98;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 3px 5px 3px 10px;
  border-radius: 0.3em;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-event-name-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.edit-event-name-input {
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
  margin: 10px;
}



/******************* ADD-USER CSS **********************/

/* to allow scrolling */
.allow-scroll {
  height: 1000px;
}

/* to prevent scrolling */
.no-scroll {
  height: 100%;
  overflow: hidden;
}

#users-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0;
    align-items: center;
    height: 79px;
    overflow: unset;
    flex-wrap: inherit;
}

.profile-style {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*trial styling
.memberDiv {
  width: 10px;
}*/

.delete-users-button {
  margin: 0px 40px;
}
.delete-users-button:hover {
  font-weight: bold;
  cursor: pointer;
}
.select-member-add-button:hover {
  font-weight: bold;
  cursor: pointer;
}

.select-members-dropdown:hover {
  cursor: pointer;
}

/*turn on this class for modal to show up*/
.show-user-form {
  display: flex;
  color: black;
  border-radius: 0.3em;
  box-sizing: border-box;
  height: 10%;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
#username {
  cursor: pointer;
}
#form-close {
  margin-right: 10px;
}
#form-close:hover {
  font-weight: bold;
  cursor: pointer;
}

#get-information label {
  font-size: 1em;
}

#submit-name {
  background-color: #fedb98;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 3px 5px 3px;
  margin-left: 20px;
  border-radius: 0.3em;
  height: 30px;
  width: 80px;
}
#submit-name:hover{
  font-weight: bold;
  cursor: pointer;
}

#user-list-section {
  background-color: white;
  height: 200px;
}

#list-of-users {
  display: flex;
  justify-content: center;
  align-items: center; /*this isn't applying*/
  height: 75%;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-y: hidden;
  flex-direction: column; /*added this to get the people section lined up*/
}


/*turn off this class for modal to close*/
.hidden {
  display: none;
}

.anon {
  height: 50px;
  width: auto;
}

.user-container {
  
  border: 5px solid #3eb0d4;
  height: 200px;
  width: 500px;
}

.profile-picture {
  border: 5px solid #d43ed1;
  height: 100px;
  width: 100px;
}

.profile-name {
  border: 5px solid #d5a53f;
  height: 70px;
  width: 100px;

}

#color-block-user {
  display: flex;
  justify-content: space-between;
}

/* Natalie Added this section */
#user-container {
  display: flex;
  justify-content: center;
  align-items: center; /*this isn't applying*/
  height: 10%;
  flex-direction: column;
}

#user-event-warning-message {
  font-size: small;
  color: red;
}
/* Natalie added above */


/************************ Balances ********************/

.balances {
  background-color:white;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }

 .balances .color-block {
  width: 100%;
 } 
 
.balances-text {
  width: 100%;
 } 
/* ***************** */
.table-container {
  width: 100%;           
  max-height: 150px;      
  overflow-y: auto;       
  overflow-x: auto;       
  border: 1px solid #ddd; 
}

#expense-table {
  width: 100%;
  border-collapse: collapse;
}

#expense-table th, #expense-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#expense-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.button {
  background-color: #fedb98;
  border-color: #fedb98;
  border-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.button:hover {
  font-weight: bold;
  cursor: pointer;
}

/******************* EXPENSE CSS **********************/

/* Result div  */

.hidden {
  display: none;
}

.expense-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#expense-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row
}



.edit-expense-name {
  color: red;
}
.edit-expense-name:hover {
  cursor: pointer;
}
.edit-expense-amount {
  color: red;
}
.edit-expense-amount:hover {
  cursor: pointer;
}
.edit-payer-select {
  color: red;
}
.edit-payer-select {
  cursor: pointer;
}

#expenseName {
  margin: 15px;
}
#expenseName:hover {
  cursor: pointer;
}
#expenseAmount {
  margin: 15px;
}
#expenseAmount:hover {
  cursor: pointer;
}

#payer {
  margin: 15px;
  width: 200px;
}
#payer:hover {
  cursor: pointer;
}
.expense-box {
  background-color:white;
}

.amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

#total-amount {
  margin: 15px;
}

#individual-amount {
  margin: 15px;
}


#color-block-expenses {
  display: flex;
  justify-content: space-between;
}

.result {
  border: 1px solid #ccc;
  display: block;
}

.expense-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#addExpenseButton {
  background-color: #fedb98;
  border-color: #fedb98;
  border-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

/* remove arrows from input type number */
    /* Chromium & Safari */
input[type="number"]::-webkit-inner-spin-button {
 display: none;
}
     /* Firefox */
/* input[type="number"] { */
 /* -moz-appearance: textfield; */
/* } */



/*********************FOOTER***********************/
.footer {
  background-color: #6cb876;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.footer p {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {

/*******************Desktop styles********************************/

/*Header CSS*/
/* .header {
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
  } */
   
  .header-container {
    flex-direction: row;
    height: 9em;
    justify-content: space-between;
    margin-bottom: 2%;
  }

  .header {
    width: 72%;
    height: 100%;

  }

  h1 {
    margin-top: 0px;
  }

  #icon {
    padding-bottom: 0px
  }

  .pizza-container {
    width: 25%;
    border-radius: 0.3em;
    height: 100%;

  }

  .nav {
    background-color: #588b5f;
    display: flex;
    height: 50%;
    border-radius: 0.3em;
    justify-content: space-around;
  }

  .nav-bar {
    width: 70%;
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .welcome-info {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .welcome-info p{
    margin: 0;
  }
  
  #welcome {
    height: 40px;
    width: 40px;
    border-color: #fedb98;
    border-width: 0.2em;
    border-radius: 50%;
  }

  .search {
    height: 50%;

  }


  .off-screen-menu {
    display: none;

  }
  
  .off-screen-menu.active {
    display: none;

  }
  
  .burger-bar {
    display: none;

  }
  
  
  .burger-bar span {
    display: none;

  }
  
  .burger-bar span:nth-child(1) {
    display: none;

  }
  
  .burger-bar span:nth-child(3) {
    display: none;

  }
  
  .burger-bar.active span:nth-child(1) {
    display: none;

  }
  
  .burger-bar.active span:nth-child(2) {
    display: none;
  }
  
  .burger-bar.active span:nth-child(3) {
    display: none;
  }

  .group-expenses {
    display: flex;
  }

  /*Events*/
  #events {
    width: 20%;
  }

  .main-rows {
    width: 75%;
  }

  .event-name-container {
    width: 300px;
  }
  
}  