/* Feel free to erase all this -- Reinaldo -- */

/* Remove the bullet points on the list of events */
#events-list {
  list-style-type: none;
}

.warning-text {
  color: red;
}

/* Container for each event */
.event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust the width as needed */
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Optional: adds a separator between events */
}

/* Style for the event name */
.event-item {
  margin: 0;
  list-style: none; /* Remove default list styling */
}

/* Style for the delete button */
.delete-button {
  margin-left: 10px; /* Space between the event name and 'X' button */
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Style for the event button */
.event-button {
  margin-left: 10px; /* Space between the event name and 'X' button */
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.event-button:hover {
  font-weight: bold; /* Bold on hover */
}

/* Container for the event name and the edit button */
.event-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust the width as needed */
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Optional: adds a separator between events */
  /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; Adjust width as needed */
}

/* Event name edit button styling */
.edit-event-name-button {
  margin-left: 10px; /* Space between the event name and the button */
  padding: 2px 5px;
  cursor: pointer;
}

.edit-event-name-button:hover {
  background-color: #4caf50; /* Green background on hover */
  color: white;
}

.edit-event-name-input {
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
  margin: 10px;
}

/***** Expense *****/

/* Result div  */
.expense-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  border: 1px solid #ccc;
  display: block;
}

.expense-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
