/******************* TO DO LIST **********************/
/*TO DO:
-have wireframe of all sections
-create colored divs

*/

/******************* BODY CSS **********************/

html {
  background-color: white;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  width: 80%;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


/******************* HEADER CSS **********************/

.img-container {
  background-color: yellow;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  background-color: gray;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
}

.header {
  border-color: rgb(6, 91, 227);
  border-width: 2px;
  border-style: dashed;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  border-color: black;
  border-width: 5px;
  border-style: dashed;
  display: flex;
  flex-direction: row;
}

.nav-bar {
  width: 70%;
}

section .search {
  background-color: #d32f2f;
  width:100%;
  height: 100%;
}




#welcome {
  height: 40px;
  width: auto;
}

#pizza {
  height: 60px;
  width: auto;
}

#icon {
  display: flex;
  justify-content: center;
}

/******************* EVENTS CSS **********************/

.group-expenses {
  background-color: gray;
  width: 100%;
  display: flex;
}

.main-rows {
  background-color: limegreen;
}


/* Remove the bullet points on the list of events */
#events {
  background-color: #4caf50;
}

#events-list {
  list-style-type: none;
}


.warning-text {
  color: red;
}

/* Container for each event */
.event-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust the width as needed */
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Optional: adds a separator between events */
}

/* Style for the event name */
.event-item {
  margin: 0;
  list-style: none; /* Remove default list styling */
}

/* Style for the delete button */
.delete-button {
  margin-left: 10px; /* Space between the event name and 'X' button */
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Style for the event button */
.event-button {
  margin-left: 10px; /* Space between the event name and 'X' button */
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

.event-button:hover {
  font-weight: bold; /* Bold on hover */
}

/* Container for the event name and the edit button */
.event-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust the width as needed */
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Optional: adds a separator between events */
  /* display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; Adjust width as needed */
}

/* Event name edit button styling */
.edit-event-name-button {
  margin-left: 10px; /* Space between the event name and the button */
  padding: 2px 5px;
  cursor: pointer;
}

.edit-event-name-button:hover {
  background-color: #4caf50; /* Green background on hover */
  color: white;
}

.edit-event-name-input {
  font-size: 24px;
  font-weight: bold;
  padding: 3px;
  margin: 10px;
}

/******************* BALANCES CSS **********************/

/***** Balances *****/

 .balances {
  background-color: #d5a53f;
  height: 60px;
  
 }

/******************* EXPENSE CSS **********************/

/* Result div  */

.hidden {
  display: none;
}
.expense-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.expense-box {
  background-color: #d43ed1;
}

.result {
  border: 1px solid #ccc;
  display: block;
}

.expense-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* remove arrows from input type number */
    /* Chromium & Safari */
input[type="number"]::-webkit-inner-spin-button {
 display: none;
}
     /* Firefox */
/* input[type="number"] { */
 /* -moz-appearance: textfield; */
/* } */

/******************* ADD-USER CSS **********************/

.active {
  background-color: purple;
}

/* to allow scrolling */
.allow-scroll {
  height: 1000px;
}

/* to prevent scrolling */
.no-scroll {
  height: 100%;
  overflow: hidden;
}

#users-list {
    list-style-type: none;
}

/*turn on this class for modal to show up*/
.show-user-form {
  display: flex;
  background: #72bdeb;
  color: black;
  border-radius: 20px;
  box-sizing: border-box;
  max-height: 600px;
  max-width: 600px;
  height: 80%;
  padding: 20px;
  position: relative;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px lightgray;
  font-size: 1.5em;
  font-weight: 500;
  /*transitions modal*/
  animation: popUPAnimation 1.5s forwards; 
}

#user-list-section {
  background-color: purple;
}

/*turn off this class for modal to close*/
.hidden {
  display: none;
}

.anon {
  height: 50px;
  width: auto;
}

.user-container {
  border: 5px solid #3eb0d4;
  height: 200px;
  width: 500px;
}

.profile-picture {
  border: 5px solid #d43ed1;
  height: 100px;
  width: 100px;
}

.profile-name {
  border: 5px solid #d5a53f;
  height: 70px;
  width: 100px;

}






